h1 {
    font-family: cursive;
    color: rgb(237, 110, 150);
    background-color: beige;
}

body {
    background-color: antiquewhite;
}

h2 {
    font-family: cursive;
    color: rgb(237, 110, 150);
    background-color: beige;
}

.bookmarks {
    color: rgb(239, 237, 237);
    background-color: hsl(339, 72%, 80%);
}

.class.reading {
    
}