h1 {
    font-family: cursive;
    color: rgb(237, 110, 150);
    background-color: beige;
}

body {
    background-color: antiquewhite;
}

h2 {
    font-family: cursive;
    color: rgb(237, 110, 150);
    background-color: beige;
}

.class